@import "./../../node_modules/vue-material/dist/theme/engine.scss";
@import "./variables.scss";

@include md-register-theme("default", (
  primary: $primary,
  accent: $accent,
  theme: light
));

@import "./../../node_modules/vue-material/dist/theme/all.scss";

.md-theme--light-gray {
  background-color: $light-gray !important;
}

.md-theme--gray {
  background-color: $gray !important;
}

div.md-theme--dark-gray {
  color: $dark-gray !important;
}

body {
  background-color: white;
}

hr {
  width: 12.5%;
  border: 0;
  height: 0.125em;
  background: $dark-gray;
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

.hs--content {
  margin: 0 auto;
  margin-left: 15vw !important;
  margin-right: 15vw !important;
  margin-top: 10vh;
}