@import "./../../node_modules/vue-material/dist/theme/engine.scss";
@import "./variables.scss";

@include md-register-theme("default", (
  primary: $primary,
  accent: $accent,
  theme: light
));

@import "./../../node_modules/vue-material/dist/theme/all.scss";

.md-theme--light-gray {
  background-color: $light-gray !important;
}

.md-theme--gray {
  background-color: $gray !important;
}

div.md-theme--dark-gray {
  color: $dark-gray !important;
}