@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:400,700&display=swap');
@import "./custom-theme.scss";

body {
  font-family: 'Montserrat' !important;
}

.md-content, md-card {
  @media only screen and (max-width: $xsmall) {
    p {
      font-size: 1em;
      line-height: 1em;
    }
  }
  
  @media only screen and (min-width: $xsmall) and (max-width: $small) {
    p {
      font-size: 1.25em;
      line-height: 1.25em;
    }
  }
  
  @media only screen and (min-width: $small) and (max-width: $medium) {
    p {
      font-size: 1.25em;
      line-height: 1.25em;
    }
  }
  
  @media only screen and (min-width: $medium) and (max-width: $large) {
    p {
      font-size: 1.25em;
      line-height: 1.25em;
    }
  }
  
  @media only screen and (min-width: $xlarge) {
    p {
      font-size: 1.25em;
      line-height: 1.25em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat' !important;
  }

  h4, h5, h6 {
    color: $gray;
    font-weight: 500;
  }
}

.md-card {
  .md-title {
    font-size: 2em;
    font-weight: bold;
  }
}

.md-toolbar {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville' !important;
  }
}