$primary: md-get-palette-color(blue, A200);
$accent: md-get-palette-color(red, A200);
$light-gray: md-get-palette-color(grey, 200);
$gray: md-get-palette-color(grey, 500);
$dark-gray: md-get-palette-color(grey, 800);

$xsmall: 599px; // Less than
$small: 959px;
$medium: 1279px;
$large: 1919px;
$xlarge: 1920px; // Greater than

$xsmall-size: 10em;
$small-size: 15em;
$medium-size: 20em;
$large-size: 25em;
$xlarge-size: 30em;